<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>itrader下载</title>
</head>
<body>
    <div id="id1" style="position: absolute; margin: 40%; width: 200px;">
        <!-- <button style="width: 100px;">立即下载</button> -->
        <a href="javascript:void(0)" onclick="downApp()">点击下载应用</a>

    </div>
</body>
<script>
    function downApp(){
    var u = navigator.userAgent, 
    isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1,
    isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/),
    urls = {
        'android':'http://172.19.132.208:8888//output/aaaht10007/01.44.0014/0000/android/aaaht10007_android_01.44.0014_0000_66030_0.apk',
        'ios':'itms-services://?action=download-manifest&url=https://gitee.com/randefeng/testcss2/raw/master/aaaht10007.plist',
        'other':'http://21231231/index.html'
    };
    if(isAndroid){
        window.location.href=urls.android;
    }else if(isiOS){    
        window.location.href=urls.ios;
    }else{
        // window.location.href=urls.other;
        alert("PC")
    }
}
</script>

</html>