<!DOCTYPE html>
<html lang="en">

<head>
	<title>Home</title>

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Blog Template">
	<meta name="keywords" content="" />
	<meta name="author" content="Xiaoying Riley at 3rd Wave Media">
	<link rel="shortcut icon" href="./favicon.ico">
	<!-- FontAwesome JS-->
	<!-- <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js"></script> -->
	<!-- Theme CSS -->
	<link id="theme-style" rel="stylesheet" href="assets/css/theme-1.css">
</head>

<body>
	{{include './home/navigation.html'}}
	<div class="main-wrapper">
		{{include './home/homeHead.html'}}
		<section class="blog-list px-3 py-5 p-md-5">
			<div class="container">
				<!--//item-->
					{{include './home/homeItem.html'}}
					{{include './home/next.html'}}
			</div>
		</section>
		{{include './home/footer.html'}}
		{{include './home/theme.html'}}
	</div>
	<script src="assets/plugins/jquery-3.3.1.min.js"></script>
	<script src="assets/plugins/popper.min.js"></script>
	<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
	<script src="assets/js/all.js"></script>
	<!-- Style Switcher (REMOVE ON YOUR PRODUCTION SITE) -->
	<script src="assets/js/demo/style-switcher.js"></script>


</body>

</html>